{% extends "base.html" %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ image_file }}">
        <div class="media-body">
          <h2 class="account-heading">{{ current_user.first_name }} {{ current_user.last_name }}</h2>
          <p class="text-secondary">{{ current_user.email }}</p>
            {% if current_user.group_id == 1 %}
             <p class="text-secondary">Birthday date: {{ current_user.learners.birthday_date}}</p>
            {% elif current_user.group_id == 2 %}
             <p class="text-secondary">Birthday date: {{ current_user.trainers.birthday_date}}</p>
            <p>Specialization:</p>
            {% for spec in current_user.trainers.specialization%}
            <p>{{ spec.specialization }}</p>
            {% endfor %}
            {% endif %}
        </div>
      </div>
        <form method="POST" action="" enctype="multipart/form-data">
             {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Account Info</legend>
                <div class="form-group">
            {{ form.first_name.label }}
            {% if form.first_name.errors %}
            {{ form.first_name(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.first_name.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.first_name(class="form-control form-control-lg") }}
            {% endif %}
        </div>
         <div class="form-group">
            {{ form.last_name.label }}
            {% if form.last_name.errors %}
            {{ form.last_name(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.last_name.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.last_name(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.email.label }}
            {% if form.email.errors %}
            {{ form.email(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.email.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.email(class="form-control form-control-lg") }}
            {% endif %}
        </div>
                <div class="form-group">
                    {{ form.picture.label() }}
                    {{ form.picture(class="form-control-file") }}
                    {% if form.picture.errors %}
                        {% for error in form.picture.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}
                </div>
                {% if current_user.group_id == 2 %}
         <div class="form-group">
            {{ form.trainer.phone_number.label }}
            {% if form.trainer.phone_number.errors %}
            {{ form.trainer.phone_number(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.trainer.phone_number.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.trainer.phone_number(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.trainer.biography.label }}
            {% if form.trainer.biography.errors %}
            {{ form.trainer.biography(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.trainer.biography.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.trainer.biography(class="form-control form-control-lg") }}
            {% endif %}
        </div>
                {% elif current_user.group_id == 1 %}
         <div class="form-group">
            {{ form.learner.height.label }}
            {% if form.learner.height.errors %}
            {{ form.learner.height(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.learner.height.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.learner.height(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.learner.weight.label }}
            {% if form.learner.weight.errors %}
            {{ form.learner.weight(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.learner.weight.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.learner.weight(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.learner.phone_number.label }}
            {% if form.learner.phone_number.errors %}
            {{ form.learner.phone_number(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.learner.phone_number.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.learner.phone_number(class="form-control form-control-lg") }}
            {% endif %}
        </div>
                {% endif %}
</fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary")}}
        </div>

        </form>

    </div>
{% if current_user.group_id==1 or current_user.group_id==2 %}
{% if current_user.group_id == 1 %}
<h3>My registration</h3>
{% endif %}
{% if current_user.group_id == 2 %}
<h3>My trainings</h3>
{% endif %}
<div class="content-section">
    <div class="container">
   <div id="calendar"></div>
  </div>
</div>
{%endif%}
{% endblock content %}