{% extends "base.html" %}
{% block content %}
  <article class="media content-section">

    <div class="media-body">
      <div class="article-metadata">

          <div>
            {% if current_user.group_id == 4  or  current_user.group_id == 3%}
            {% if trainers.register == false %}
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_trainer', trainer_id=trainers.id) }}">Confirm</a>
            {% elif trainers.register == true %}
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_user', user_id=trainers.user.id) }}">Update</a>
            {% endif %}
            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
            {% endif %}
          </div>

      </div>
       <img  class="img-fluid" src="{{ url_for('static', filename='profile_pics/' + trainers.user.photo) }}">
      <h2 class="article-title"><p>{{ trainers.user.first_name }} {{ trainers.user.last_name }}</p></h2>
       <p class="article-content">Email: {{ trainers.user.email }}</p>
      <p class="article-content">Birthday date: {{ trainers.birthday_date }}</p>
      <p class="article-content">Phone number: {{ trainers.phone_number }}</p>
      <p class="article-content">Biography: {{ trainers.biography }}</p>
      <p class="article-content">Gender: {{ trainers.gender.gender }}</p>
      <p class="article-content">Specializations:</p>
      {% for specializations in trainers.specialization %}
      <p class="article-content">{{ specializations.specialization }}</p>

      {% endfor %}
    </div>
  </article>
  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('delete_trainer', trainer_id=trainers.id) }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input class="btn btn-danger"  type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}